name: offline-db
on:
    workflow_dispatch:
    schedule:
        - cron: "1 1 * * *"
jobs:
    workflow-keepalive:
        if: github.event_name == 'schedule'
        runs-on: ubuntu-latest
        permissions:
            actions: write
        steps:
            - uses: liskin/gh-workflow-keepalive@v1
    deploy:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout code
              uses: actions/checkout@v4
            - name: Login to Quay.io
              uses: docker/login-action@v3
              with:
                  registry: quay.io/kubescape
                  username: ${{ secrets.QUAYIO_REGISTRY_USERNAME }}
                  password: ${{ secrets.QUAYIO_REGISTRY_PASSWORD }}
            - name: Set up QEMU
              uses: docker/setup-qemu-action@v3
            - name: Set up Docker Buildx
              uses: docker/setup-buildx-action@v3
            - name: Build the Image and Push to Quay.io
              id: build-and-push-image
              run: docker buildx build --file build/Dockerfile.offline-db --platform linux/amd64,linux/arm64 --tag quay.io/kubescape/grype-offline-db:v6-latest --push .
