name: pull_request_created
permissions: read-all
on:
  pull_request:
    types: [opened, reopened, synchronize, ready_for_review]
    paths-ignore:
      - '*.md'
      - '*.yaml'
      - '.github/workflows/*'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  pr-created:
    permissions:
      pull-requests: write
      security-events: write
    uses: kubescape/workflows/.github/workflows/incluster-comp-pr-created.yaml@main
    with:
      CGO_ENABLED: 0
      GO_VERSION: "1.25"
    secrets: inherit
