name: PR Image Build
on:
  pull_request:
    types: [synchronize, ready_for_review, opened, reopened]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build-and-push-image:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Login to Quay.io
        uses: docker/login-action@v3
        with:
          registry: quay.io/kubescape
          username: ${{ secrets.QUAYIO_REGISTRY_USERNAME }}
          password: ${{ secrets.QUAYIO_REGISTRY_PASSWORD }}
      - name: Build the Image and Push to Quay.io
        id: build-and-push-image
        run: |
          COMMIT_HASH=$(git rev-parse --short HEAD)
          export IMAGE_TAG=test-${COMMIT_HASH}
          export IMAGE_REPO=quay.io/kubescape/kubevuln
          echo "image_repo=${IMAGE_REPO}" >> "$GITHUB_OUTPUT"
          export IMAGE_NAME=quay.io/kubescape/kubevuln:${IMAGE_TAG}
          echo "image_tag=${IMAGE_TAG}" >> "$GITHUB_OUTPUT"
          make docker-build TAG=${IMAGE_TAG} IMAGE=${IMAGE_REPO} && make docker-push TAG=${IMAGE_TAG} IMAGE=${IMAGE_REPO}
    outputs:
      image_tag: ${{ steps.build-and-push-image.outputs.image_tag }}
      image_repo: ${{ steps.build-and-push-image.outputs.image_repo }}