name: pr-merged
permissions: read-all
on:
  pull_request_target:
    types: [closed]
    branches:
    - 'main'
    paths-ignore:
      - '*.md'
      - '*.yaml'
      - '.github/workflows/*'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  reset-run-number:
    runs-on: ubuntu-latest
    name: reset github.run_number
    outputs:
      run-number: ${{ steps.get-build.outputs.build-number }}
    steps:
    - name: Get build number
      id: get-build
      uses: mlilback/build-number@v1
      with:
        base: -149
        run-id: ${{ github.run_number }}

  pr-merged:
    if: ${{ github.event.pull_request.merged == true }} ## Skip if not merged
    needs: reset-run-number
    permissions:
      id-token: write
      packages: write
      contents: write
      pull-requests: read
    uses: kubescape/workflows/.github/workflows/incluster-comp-pr-merged.yaml@main
    with:
      IMAGE_NAME: quay.io/${{ github.repository_owner }}/kubevuln
      IMAGE_TAG: v0.3.${{ needs.reset-run-number.outputs.run-number }}
      COMPONENT_NAME: kubevuln
      CGO_ENABLED: 0
      GO111MODULE: "on"
      BUILD_PLATFORM: linux/amd64,linux/arm64
      GO_VERSION: "1.23"
      REQUIRED_TESTS: '[
              # "vuln_scan", 
              # "vuln_scan_cve_exceptions",
              "relevantCVEs",
              "relevancy_enabled_stop_sniffing",
              "relevant_data_is_appended",
              "relevancy_large_image",
              "relevancy_extra_large_image",
              "relevancy_fix_vuln",
              "relevancy_python",
              "relevancy_golang",
              "relevancy_java",
              "relevancy_java_and_python",
              "relevancy_golang_dynamic"
            ]'
      COSIGN: true
      HELM_E2E_TEST: true
    secrets: inherit
