name: pr-merged
on:
  pull_request:
    types: [closed]
    branches: 
    - 'master'
    - 'main'

  # push:
  #   tags:
  #     - 'v*'    

jobs:
  pr-merged:
    if: ${{ github.event.pull_request.merged == true }} ## Skip if not merged to master
    uses: matanshk/workflows/.github/workflows/incluster-comp-pr-merged.yaml@main
    with:
      IMAGE_NAME: quay.io/kubescape/kubevuln # ### quay.io/${{ github.repository_owner }}/gateway
      IMAGE_TAG: v0.0.${{ github.run_number }}
      COMPONENT_NAME: kubevuln
      CGO_ENABLED: 0
      GO111MODULE: ""
      BUILD_PLATFORM: linux/amd64,linux/arm64
      GO_VERSION: "1.18"
      REQUIRED_TESTS: '[
                        "vulnerability_scanning", 
                        "vulnerability_scanning_trigger_scan_on_new_image", 
                        "vulnerability_scanning_trigger_scan_public_registry", 
                        "vulnerability_scanning_trigger_scan_public_registry_excluded", 
                        "vulnerability_scanning_trigger_scan_private_quay_registry", 
                        "vulnerability_scanning_triggering_with_cron_job", 
                        "registry_scanning_triggering_with_cron_job"
                      ]'   
    HELM_E2E_TEST: true  
    COSIGN: true       
    secrets: inherit